@namespace h "http://www.w3.org/1999/xhtml";
@page { margin: 0pt; }
h1, h2, h3, h4 { text-align: center; text-indent: 0em; }
h1 { font-size: 1.5em; margin-top: 2em; margin-bottom: 1em; }
h2 { font-size: 1.2em; margin-top: 2.2em; margin-bottom: 1.1em; }
h3 { font-size: 1em; margin-top: 1em; margin-bottom: 1em; font-style: italic; }
h4 { font-size: 1em; margin-top: 1em; margin-bottom: 1em; }
h5 { font-size: 1em; margin-top: 0em; margin-bottom: 1em; text-align: right; }
p { margin: 0pt; text-indent: 0em; widows: 0; orphans: 0; text-align: justify; }
p + p { margin: 0pt; text-indent: 1em; widows: 0; orphans: 0; text-align: justify; }
blockquote { margin-top: 1em; margin-bottom: 1em; margin-left: 2em; margin-right: 2em; text-indent: 0em; }
div.cover { text-align: center; }
img.cover { max-width: 100%; }
div.figureContainer { max-width: 100%; text-align: center; text-indent: 0em; }
ol {list-style-type: none; }
hr {
  background: none;
  border: 0;
  margin: 0.5em 0;
  padding: 0;
}
hr::after {
  content: '***';
  letter-spacing: 3px;
  display: block;
  opacity: 0.8;
  line-height: 1;
  text-align: center;
}
